.create {
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;

    .createBtn {
        padding: 5px 10px;
        color: #FFFFFF;
        background-color: #000000;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        text-decoration: none;

        &:hover {
            background-color: rgb(130, 130, 130);
        }

        &:disabled {
            background-color: rgb(206, 206, 206);
            cursor: default;
        }
    }
}