.noCharacter {
    min-height: 200px;
    background-image: url(../../assets/svg/unknown.svg);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: 80% 0;

    .noCharacter__title {
        margin: 0;
        margin-bottom: 40px;
    }

    .noCharacter__create {
        width: 400px;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}