@import './styles/normalize.scss';

@font-face {
    font-family: 'Play';
    src: url('./assets/fonts/Play-Regular.woff2') format('woff2'),
        url('./assets/fonts/Play-Regular.woff') format('woff'),
        url('./assets/fonts/Play-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Play';
    src: url('./assets/fonts/Play-Bold.woff2') format('woff2'),
        url('./assets/fonts/Play-Bold.woff') format('woff'),
        url('./assets/fonts/Play-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: 'Play';
}

.container {
    padding-left: 12%;
    padding-right: 12%;
    // margin: 0 auto;
}

.content {
    padding: 60px;
    border: 3px solid #000000;
    border-radius: 35px;
}

@media screen and (max-width: 1000px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }
}